.DS_Store
web/.DS_Store
web/webApplication/__pycache__
android/.DS_Store
hardware/.DS_Store
ml/.DS_Store
android/parking_app/app/src/main/java/com/example/parking_app/dynamodb/DynamoDBConnector.java
pyvenv.cfg
lib/
bin/
__pycache__/

