body {
  font-size: 20px;
  font-family: 'Goudy Old Style';
  margin: 0;
  background: #d9f7ff;
}



.slot::after {
  clear: both;
  content: " ";
  display: block;
}

.slot_item {
  float: left;
  margin-top: 0;
  width: 18%;
  margin: 10px;

}

.slot_item_content {
    border: 2px solid #F39C12; 
    padding: 10px;
    background: #fff;
}

.slot_item img{
  width: 100%;
  height: 150px;
}

.slot_item label.desc {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}



/** FORM **/
input[type=text], input[type=email]{
  border: 1px solid #D35400;
  padding: 5px;
  box-sizing: border-box; 
}

#slotform, #bookform, #paymentform{
  background-color: #e6faff;
  padding: 10px;
  width: 80%;
  margin: 50px auto;
  
}

h1{
  text-align: center;
  font-family: 'Monkey & Banana';
}

div.invoice {
  text-align: center;
  font-size: 1.5em;
}