<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Group Assignment IoT" />
	<meta name="keywords" content="HTML, CSS" />
	<meta name="author" content="Ruby Mae Orfiano" />
	<title>Parking Slot Booking</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/responsive.css')}}"/>
</head>
<body>
	
	<form id="bookform" method="post" action="payment.html" class="form_details" novalidate="novalidate" >
		<h1>Booking Form</h1>
		<h2>Personal Details</h2>
		
		<label for="full_name">Full Name: </label>
		<input type="text" name="full_name" id="full_name" size="50" /><br /><br />
		<label for="phonenum">Phone Number: </label>
		<input type="text" name="phonenum" id="phonenum" size="10" placeholder="10 digits"/><br /><br />
		<label for="emailAdd">Email Address: </label>
		<input type="email" name="emailAdd" id="emailAdd" /><br /><br />
		<label for="license">Driver's License Number: </label>
		<input type="text" name="license" id="license" size="20" /><br /><br />
		<label for="plateNum">Car's Plate Number: </label>
		<input type="text" name="plateNum" id="plateNum" size="15" /><br /><br />


		<input type= "submit" value="Book Now"/>
		<input type= "reset" value="Reset Form"/>
	</form>

</body>
</html>