<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Group Assignment IoT" />
	<meta name="keywords" content="HTML, CSS" />
	<meta name="author" content="Ruby Mae Orfiano" />
	<title>Parking Slot Booking</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/responsive.css')}}"/>
</head>
<body>
	<form id="bookform" method="post" action="http://127.0.0.1:5000/validateBooking" class="form_details" >
		{% if error %}
			<div class="error" style="color:red">{{ error }}</div>
		{% endif %}
		<h1>Parking Slot Booking</h1>
		<h2>Personal Details</h2>
		{% for slot in data.getlist('slot') %}
			<input type="hidden" name="slot" value="{{ slot }}">
		{% endfor %}
		
		<label for="full_name">Full Name: </label>
		<input type="text" name="full_name" id="full_name" size="50" /><br /><br />
		<label for="phonenum">Phone Number: </label>
		<input type="text" name="phonenum" id="phonenum" size="10" placeholder="10 digits"/><br /><br />
		<label for="emailAdd">Email Address: </label>
		<input type="email" name="emailAdd" id="emailAdd" /><br /><br />
		<label for="license">Driver's License Number: </label>
		<input type="text" name="license" id="license" size="20" /><br /><br />
		<label for="plateNum">Car's Plate Number: </label>
		<input type="text" name="plateNum" id="plateNum" size="15" /><br /><br /><br/>

		<h2>Parking Time Details</h2>

		<label for="booking_time">Booking time: </label>
		<input type="text" name="booking_time" id="booking_time" size="50" placeholder="H:M:S (24hour time)" /><br /><br />

		<label for="exit_time">Exit time: </label>
		<input type="text" name="exit_time" id="exit_time" size="50" placeholder="H:M:S (24hour time)" /><br /><br />


		<input type= "submit" value="Book"/>
		<input type= "reset" value="Reset" name="reset"/>
	</form>
	
</body>
</html>