<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Group Assignment IoT" />
	<meta name="keywords" content="HTML, CSS" />
	<meta name="author" content="Ruby Mae Orfiano" />
	<title>Parking Slot Payment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script src="{{url_for('static',filename='js/validate.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/responsive.css')}}"/>
</head>
<body>
	<h1>Receipt</h1>
	{% if data %}
		<div class="invoice">
			<div>Name: {{ data.get('full_name') }}</div>
			<div>Phone Number: {{ data.get('phonenum') }}</div>
			<div>Email: {{ data.get('emailAdd') }}</div>
			<div>License Number: {{ data.get('license') }}</div>
			<div>Plate Number: {{ data.get('plateNum') }}</div><br/>
			<div>Amount Paid: ${{ data.price }}</div>
		</div>
	{% endif %}
		
</body>
</html>