<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Group Assignment IoT" />
	<meta name="keywords" content="HTML, CSS" />
	<meta name="author" content="Ruby Mae Orfiano" />
	<title>Parking Slot Payment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/responsive.css')}}"/>
</head>
<body>
	{% for slot in data.getlist('slot') %}
		<h2 class="receipt">Booking for Slot {{ slot }} has been reserved. Thank you!</h2>
	{% endfor %}
	<p class="receipt"><a href="http://127.0.0.1:5000/validateSlot">Home</a></p>
</body>
</html>