
/*iPad in portrait & landscape*/
@media screen 
and (min-width : 768px) 
and (max-width : 1024px)  {


	/* HOME PAGE */
	.slot_item {
	  width: 23%;
	  margin: 10px 1%;

	}

	.form{
	  width: auto;
	  padding: 20px;
	  margin: 0;
	}
}

/* Smaller than ipad */
@media screen and (max-width: 767px){
	/* HOME PAGE */
	.slot_item {
	  width: 45%;
	  margin: 10px 0px;
	  padding: 10px;
	}

	.gallery {
		margin: 0;
    	width: 100%;
    	border: 0;
	}
	
}
